<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="item" th:fragment="article_item">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="/img/sy_img1.jpg" alt=""></div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                    <h3>空间立体效果图，完美呈现最终效果空间立体效果图，<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                    <div class="layui-row">
                        <div class="layui-col-xs6">
                            <h5>设计文章</h5>
                        </div>
                        <div class="layui-col-xs6">
                            <h5 style="text-align:right"><font color="#393D49">发布者：</font>XXX</h5>
                        </div>
                    </div>
                    <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                    <a href="details" class="go-icon"></a>
                    <div class="layui-row">
                        <div class="layui-col-xs8">
                            <div class="grid-demo">发布于：2018-12-12</div>
                        </div>
                        <div class="layui-col-xs2" style="text-align:right">
                            <i class="layui-icon layui-icon-praise" style="font-size: 12px;">999</i>
                        </div>
                        <div class="layui-col-xs2" style="text-align:right">
                            <i class="layui-icon layui-icon-read" style="font-size: 12px;">999</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
