<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <script id="commentTpl" type="text/html" th:fragment="comment">
        {{# layui.each(d,function(index, item){ }}
        <div class="layui-card">
            <div class="layui-card-header">
                <div class="layui-row">
                    <div class="layui-col-xs6"><h5>{{item.commentTime}} 来自：{{item.commentUserName}}</h5></div>
                    <div class="layui-col-xs6" style="text-align: right"><button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm">回复</button></div>
                </div>
            </div>
            <div class="layui-card-body">
                {{item.commentContent}}
                <div style="padding-left: 6%">
                    {{# if(item.childComments.length >0){ }}
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="layui-row">
                                <div class="layui-col-xs6"><h5>{{item.childComments[0].commentUserName}} 回复 {{item.childComments[0].beCommentUserName}} {{item.childComments[0].commentTime}}</h5></div>
                                <div class="layui-col-xs6" style="text-align: right"><button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm">回复</button></div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            {{item.commentContent}}
                        </div>
                    </div>
                    {{# }; }}
                    {{# if(item.childComments.length >1){ }}
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="layui-row">
                                <div class="layui-col-xs6"><h5>{{item.childComments[1].commentUserName}} 回复 {{item.childComments[1].beCommentUserName}} {{item.childComments[1].commentTime}}</h5></div>
                                <div class="layui-col-xs6" style="text-align: right"><button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm">回复</button></div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            {{item.commentContent}}
                        </div>
                    </div>
                    {{# }; }}
                    {{# if(item.childComments.length >2){ }}
                    <div class="layui-collapse" lay-filter="comment">
                        <div class="layui-colla-item" id="dd">
                            <div class="layui-colla-title">
                                更多回复
                            </div>
                            <div class="layui-colla-content">
                                {{# layui.each(item.childComments,function(index, item){ }}
                                <div class="layui-card">
                                    <div class="layui-card-header">
                                        <div class="layui-row">
                                            <div class="layui-col-xs6"><h5>{{item.commentUserName}} 回复 {{item.beCommentUserName}} {{item.commentTime}}</h5></div>
                                            <div class="layui-col-xs6" style="text-align: right"><button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm">回复</button></div>
                                        </div>
                                    </div>
                                    <div class="layui-card-body">
                                        {{item.commentContent}}
                                    </div>
                                </div>
                                {{# }) }}
                            </div>
                        </div>
                    </div>
                    {{# }; }}
                </div>
            </div>
        </div>
        {{# })}}
    </script>
</div>
</body>
</html>