<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
  <title>文章</title>
  <link rel="stylesheet" href="/layui/css/layui.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" href="/editormd/css/editormd.css" />
  <!-- 页面解析markdown为HTML显示需要的css -->
  <link rel="stylesheet" href="/editormd/css/editormd.preview.css" />
  <script type="text/javascript" src="/layui/layui.js"></script>
  <script type="text/javascript" src="/js/util/jquery.min.js"></script>
</head>
<body >
<!-- 弹出框 -->
<div th:replace="part/head::head"></div>
<div class="layui-container" style="background-color:#F5F5F5;box-shadow:8px 8px 5px #c2c2c2;padding-top:40px">
  <form class="layui-form " style="padding:20px 0 30px 0">
    <div  style="text-align: center;padding-top: 30px">
      <h1><span th:text="${article.articleTitle}"></span></h1>
    </div>
    <div class="layui-form-item" style="margin-top: 45px">
      <label class="layui-form-label">关键字</label>
      <div class="layui-input-block">
        <input type="text" id="keyword" disabled  name="keyword" autocomplete="off" class="layui-input" th:value="${article.articleKeyword}">
      </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 20px">
      <label class="layui-form-label" >文章摘要</label>
      <div class="layui-input-block">
        <textarea class="layui-textarea" disabled rows="4" id="summary"  name="summary" autocomplete="off" th:text="${article.articleSummary}"></textarea>
      </div>
    </div>
    <div  th:if="${editable} eq 'editable'" class="layui-btn-containe" style="text-align:right;padding-left:5%;padding-right:2%;padding-bottom: 40px">
      <button class="layui-btn  layui-btn-lg layui-btn-warm" id="edit">编辑</button>
      <button class="layui-btn  layui-btn-lg layui-btn-danger" id="delete">删除</button>
    </div>
    <div class="layui-row" style="margin-bottom: 10px;padding-left: 10%;padding-right: 2%">
      <div class="layui-col-xs5" th:if="not ${#strings.isEmpty(article.userName)}">
        <div class="grid-demo" th:if="${#strings.length(article.userName) gt 12}">
          <span th:text="${#strings.substring(article.userName,0,10)}+'...'" style="color: #FF5722">未知用户</span>
          发布于：<span th:text="${#dates.format(article.articleTime,'yyyy-MM-dd')}" style="color: #FF5722"/>
        </div>
        <div class="grid-demo" th:if="${#strings.length(article.userName) le 12}">
          <span th:text="${article.userName}" style="color: #FF5722">未知用户</span>
          发布于：<span th:text="${#dates.format(article.articleTime,'yyyy-MM-dd')}" style="color: #FF5722"/>
        </div>
      </div>
      <div class="layui-col-xs5">
        <div class="grid-demo">编辑于：<span th:text="${#dates.format(article.lastUpdateTime,'yyyy-MM-dd')}" style="color: #FF5722"/></div>
      </div>
      <div class="layui-col-xs1" style="text-align:right">
         <span th:if="${article.hasLike}">
           <i class="layui-icon layui-icon-praise" style="font-size: 12px;text-align:right;color: #FF5722" th:text="${article.articleLike}" th:id="${article.articleUUID}" onclick="like(this)"></i>
         </span>
        <span th:if="${not article.hasLike}">
          <i class="layui-icon layui-icon-praise" style="font-size: 12px;text-align:right" th:text="${article.articleLike}" th:id="${article.articleUUID}" onclick="like(this)"></i>
        </span>
      </div>
      <div class="layui-col-xs1" style="text-align:right">
        <span th:if="${article.hasClick}">
          <i class="layui-icon layui-icon-read" style="font-size: 12px;color: #FF5722" th:text="${article.articleClick}"></i>
        </span>
        <span th:if="${not article.hasClick}">
          <i class="layui-icon layui-icon-read" style="font-size: 12px;" th:text="${article.articleClick}"></i>
        </span>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block" id="div_content_html">
        <div id="markdownToHTML"  style="width: 95%;" >
          <textarea class="layui-textarea" id="content_html"  name="content" autocomplete="off" disabled  th:text="${article.articleContent}"> </textarea>
        </div>
      </div>
    </div>
  </form>
  <div>
    <div id="myeditor" style="display: none">
      <!-- 富文本编辑器 -->
      <div id="test-editormd"></div>
    </div>
  </div>
</div>
<div id="comment" hidden="hidden"></div>
<div id="publicArea" hidden="hidden"></div>
<div th:replace="part/comment::comment"></div>

<script src="/editormd/src/editormd.js"></script>
<!-- 页面markdown解析成HTML需要的js -->
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/js/util/jquery.min.js"></script>
<script th:inline="javascript">
  var header = $("meta[name='_csrf_header']").attr("content");
  var token =$("meta[name='_csrf']").attr("content");
  var articleId = [[${article.id}]];
  var articleUUID = [[${article.articleUUID}]];
  var commentCurrPage = 1;
  var commentPageSize = 8;
  var commentSort = '时间降序';
  var commentRequestUrl = '/rest/article/comment?sort=desc&';
  layui.config({
      base: '/js/util/'
  }).use(['layer', 'jquery','form','element','util','laytpl','layedit','laypage'], function() {
    var element = layui.element;
    var laytpl = layui.laytpl;
    var layedit = layui.layedit;
    layedit.set({
      uploadImage: {
        url: '/user/upload/photo/layEdit'
        ,type:'post'
      }
    });
    var util=layui.util;

    window.onload =contentInit();
    function contentInit(){
      var load = layer.load();
      $.getJSON(commentRequestUrl+'articleId='+articleId+'&size='+commentPageSize,function (data) {initComment(data);})
      editormd.markdownToHTML("markdownToHTML", {
        htmlDecode      : "style,script,iframe",
        emoji           : true,  // 解析表情
        taskList        : true,  // 解析列表
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true  // 默认不解析
      });
      layer.close(load);
    }
    util.fixbar({
      bar1:'&#xe63a',
      click:function(type){
        if(type=='bar1'){
          openCommentArea();
        }
      }
    });
    
    $('#delete').click(function () {
      layer.confirm('确认删除文章？', function(index){
        //do something
        $.get("/article/delete?uuid="+articleUUID,function (data) {
          if(data == 'success'){
            layer.msg('删除成功')
            location.href = "/article/getall"
          }else{
            layer.msg(data);
          }
        })
      });
      return false;
    })

    $('#edit').click(function () {
      $.ajax({
        url:"/check/alive",
        type:"post",
        beforeSend : function(xhr) {
          xhr.setRequestHeader(header, token);
        },
        success:function(data){
          if(data == "alive"){
            location.href = "/article/edit?uuid="+articleUUID;
          }else{
            layer.msg("进入编辑模式失败");
          }
        },
        error:function () {
          layer.msg("伺服器疑似失联，请骚后再试");
        }
      })
      return false;
    })
  })

  function reloadElement(type,filter) {
    layui.element.render(type,filter)
  }

  function openCommentArea() {
    var userId = isLogin();
    var btn = ['发表评论','关闭评论区'];
    if(userId == 0){
      btn =[ '关闭评论区'];
    }
    layer.open({
      type:1
      ,title:'评论区'
      ,area:['950px','750px']
      ,content:"<div style='text-align: right'>" +
                "<button class='layui-btn layui-btn-primary layui-btn-xs' onclick='changeCommentSort()'>"
                    +commentSort+
                "</button>" +
              "</div>"
              +$('#comment').html()+
              "<div style='text-align: center' id='commentPage'></div>"
      ,btn: btn
      ,btnAlign: 'c'
      ,yes:function () {
        layer.closeAll();
        if(userId != 0){
          openPublicArea(0);
        }
      }
      ,btn2:function () {
        layer.closeAll();
      }
      ,success: function(layero, index){
        reloadElement('collapse','comment');
        var count = getCommentCount(articleId)
        pageController(count,commentCurrPage,commentPageSize,commentCurrPage,layero);
      }
    })
  }

  function changeCommentSort() {
    if(commentSort == '时间降序'){
      commentRequestUrl = '/rest/article/comment?sort=asc&';
      commentSort = '时间升序'
    }else{
      commentRequestUrl = '/rest/article/comment?sort=desc&';
      commentSort = '时间降序'
    }
    layer.closeAll();
    var load = layer.load();
    $.getJSON(commentRequestUrl+'articleId='+articleId+'&size='+commentPageSize,function (data) {
      initComment(data);
      openCommentArea();
      layer.close(load);
    })
  }
  function pageController(count,page,size,curr,layero){
    layui.laypage.render({
      elem: 'commentPage'
      ,count: count
      ,limit:size
      ,curr:curr
      ,jump: function(obj, first){
        page = obj.curr;
        size = obj.limit;
        if(!first){
          $.getJSON(commentRequestUrl+'page='+page+'&size='+size+'&articleId='+articleId,function (data) {
            layero.empty();
            commentCurrPage = page;
            initComment(data);
            layer.closeAll();
            openCommentArea();
          })
        }
      }
    });
  }

  function getCommentCount(articleId) {
    var result = 0;
    $.ajax({
      url:'/rest/article/comment/count?articleId='+articleId,
      dateType:'text',
      type:'get',
      async:false,
      success:function (data) {
        result = data
      },
      error:function () {
        result = 0;
      }
    })
    return result;
  }

  var commentEdit;
  function openPublicArea(parentId) {
    layer.open({
      type:1
      ,title:'发表评论'
      ,area:['950px','430px']
      ,content:'<textarea id="publicComment" style="display: none;"></textarea>'
      ,btn: ['发表','返回']
      ,btnAlign: 'c'
      ,yes:function () {
        publicComment(commentEdit,parentId);
      }
      ,btn2:function () {
        layer.closeAll();
        openCommentArea();
      }
      , success: function(layero, index){
        commentEdit = layui.layedit.build('publicComment');
      }
    })
  }

  function publicComment(commentEdit,parentId){
    var commentContent = layui.layedit.getContent(commentEdit);
    var commentArticleId = [[${article.id}]];
    var url = '/article/comment/public'
    var comment = {
      commentContent:commentContent,
      commentArticleId:commentArticleId
    }
    if(parentId != 0){
      comment = {
        parentId:parentId,
        commentContent:commentContent,
        commentArticleId:commentArticleId
      }
    }

    var compare = commentContent.replace(/&nbsp;| /g,'')
    if(compare == ""){
      layer.msg("未输入内容");
      return;
    }
    $.ajax({
      url:url,
      type:'post',
      data:JSON.stringify(comment),
      dataType:'text',
      contentType: "application/json",
      beforeSend : function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      success:function (result) {
        if(result == 'success'){
          layer.msg("发表成功");
          $.getJSON(commentRequestUrl+'articleId='+articleId+'&size='+commentPageSize+'&page='+commentCurrPage,function (data) {
              initComment(data);
              layer.closeAll();
              openCommentArea();
          })
        }else{
          layer.msg("发表失败");
        }
      },
      error:function () {
        layer.msg("请求失败<br/>可能原因:尚未登陆或者服务器出错")
      }
    })
  }

  function initComment(commentData) {
    for(var i =0;i<commentData.length;i++){
      var date = new Date(commentData[i].commentTime).toLocaleString();
      commentData[i].commentTime = date;
      for(var j=0;j< commentData[i].childComments.length;j++){
        var dateChild = new Date(commentData[i].childComments[j].commentTime).toLocaleString();
        commentData[i].childComments[j].commentTime = dateChild;
          if(commentData[i].childComments[j].commentUserName != null && commentData[i].childComments[j].commentUserName.length>16){
              commentData[i].childComments[j].commentUserName = commentData[i].childComments[j].commentUserName.substring(0,15)+"..."
          }
          if(commentData[i].childComments[j].beCommentUserName != null && commentData[i].childComments[j].beCommentUserName.length>16){
              commentData[i].childComments[j].beCommentUserName = commentData[i].childComments[j].beCommentUserName.substring(0,15)+"..."
          }
      }
    }
    //可否回复删除
    var authUserId = isLogin();
    if(authUserId != 0){
      for(var i =0;i<commentData.length;i++){
        commentData[i].recoverable = true;
        if(commentData[i].commentUserId == authUserId ){
          commentData[i].deleteable = true;
        }
        for(var j=0;j< commentData[i].childComments.length;j++){
          commentData[i].childComments[j].recoverable = true;
          if(commentData[i].childComments[j].commentUserId == authUserId){
            commentData[i].childComments[j].deleteable = true;
          }
        }
      }
    }
    var commentTemplate =document.getElementById('commentTpl').innerHTML;
    var comment = document.getElementById('comment');
    layui.laytpl(commentTemplate).render(commentData, function(html){
      comment.innerHTML = html;
    });
  }

  function isLogin() {
    var result = 0;
    $.ajax({
      url:'/user/authUserId',
      dateType:'json',
      type:'get',
      async:false,
      success:function (data) {
        data = eval('(' + data + ')');
        result = data.authUserId;
      },
      error:function () {
        result = 0;
      }
    })
    return result;
  }

  function publicChildCommenet(parentId) {
    layer.closeAll();
    openPublicArea(parentId);
  }

  function dropComment(commentId) {
    layer.msg(commentId);
    $.get('/article/comment/delete?commentId='+commentId,function (data) {
        if(data== "success"){
            $.getJSON(commentRequestUrl+'articleId='+articleId+'&size='+commentPageSize+'&page='+commentCurrPage,function (data) {
                initComment(data);
                layer.closeAll();
                openCommentArea();
            })
        }else{
            layer.msg("发表失败")
        }
    })

  }
  function like(component){
    var data={
      uuid:$(component).attr("id")
    }
    $.ajax({
      url:'/article/like',
      type:'post',
      contentType: "application/json",
      data:JSON.stringify(data),
      datetype:'text',
      beforeSend : function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      success:function (data) {
        if(data < $(component).text()){
          $(component).css('color','#393D49')
          layer.msg("取消点赞成功")
        }else if(data == "未登录"){
          layer.msg(data)
        }else {
          $(component).css('color','#FF5722')
          layer.msg("点赞成功")
        }
        $(component).text(data)
      },
      error:function () {
        layer.msg("request error");
      }
    })
  }

</script>

</body>
</html>
